/* Stylesheet */
body {
	font-family: 'Volkhov', serif;	
	background: url(../img/bg.png);
}

#logo {
	width: 50%;
}

/* Help Class to Show Grid 
.showgrid {
	background: url("../img/12-col-grid.gif") !important;
}*/


li {
float: left;
  height: 50px;
  line-height: 50px;
  list-style: none;
	margin: 0 10px 0 10px;
  text-align: right;
  width: 150px;
}

a {
  background: red;
  color: #fff;
display: block;
  text-transform: uppercase;
  text-decoration: none;
}



